<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/stylesheets/output.css" rel="stylesheet">
  </head>
  <body>
    <h1><%= title %></h1>
    
    <p class="text-yellow-500">Welcome to <%= title %></p>

    <main class="bg-gray-200 p-6 rounded-md shadow-lg flex">
      <div>
        <div class="flex-1">
          <img src="https://placehold.co/600x400/png" alt="t-shirt">
        </div>
      </div>
      <div class="flex-1 p-6 space-y-4">
        <h3 class="text-2xl font-bold">Sneakers</h3>
        <p class="text-lg font-medium">Nike</p>
        <p class="text-gray-700">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates hic dolorum aspernatur, laboriosam harum adipisci vitae atque voluptatibus amet maiores! Voluptas amet ipsam sequi consectetur id fuga officia impedit eveniet.
        </p>
        <p class="text-xl font-semibold">199 SEK</p>
        <button class="bg-gray-600 text-white py-2 px-4 rounded shadow hover:bg-gray-700">
          Lägg i varukorg
        </button>
      </div>
    </main>

    <%- include("../user/footer.ejs"); %>

  </body>
</html>
