<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/stylesheets/output.css" rel="stylesheet">
  </head>
  <body>
    <h1><%= title %></h1>
    
    <% if (products.length > 0) { %>
      <ul>
        <% products.forEach(function(product) { %>
          <li><%= product.name %> - <%= product.description %></li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No products found.</p>
    <% } %>
  </body>
</html>
